<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grades Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h3>Grades Assigned to Users</h3>
    <table class="table table-bordered">
        <thead>
            <tr><th>User ID</th><th>Days Present</th><th>Grade</th></tr>
        </thead>
        <tbody>
            {% for row in grades %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
